body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.controls select, .controls button {
    margin-right: 10px;
    padding: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
th {
    background-color: #f2f2f2;
}
td {
    height: 250px;
    vertical-align: top;
    padding: 5px;
}
.lesson {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.lesson-time {
    font-weight: bold;
}
.reserved {
    background-color: #d3f9d8; /* Verde claro quando reservado */
}
.reserve-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.reserve-btn:hover {
    background-color: #45a049;
}
.reserved .reserve-btn {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
.reserved .reserve-btn:hover {
    background-color: #e0e0e0;
}
.week-controls {
    text-align: center;
    margin-top: 20px;
}
.week-controls button {
    padding: 5px 10px;
    margin: 5px;
}
html {
    scroll-behavior: smooth;
  }
  /* navbar topo */
  .nav-link {
    color: black;
  }
  /* navbar topo */
  .nav-link:hover {
    color: rgb(146, 146, 146);
  }
  /* dropdown estilizado */
  .dropdown-menu .dropdown-item:focus, 
  .dropdown-menu .dropdown-item:hover {
    background-color: #b1b9c2; 
    color: #000; 
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
  }
  footer p {
    color: black;
  }
  
  
  